.tabelas-consolidadas-container {
    margin-top: 2rem;
}

.tabelas-consolidadas-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* sempre 2 colunas */
    gap: 1.5rem;
    justify-items: stretch; /* todos os cards ocupam a largura igual */
}

.produto-card {
    background-color: #383838;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    min-width: 300px; /* garante tamanho mínimo */
}

.produto-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #007bff;
    border-bottom: 1px solid #555;
    padding-bottom: 0.5rem;
}

.produto-info {
  flex: 1;
}

.produto-conteudo {
    display: flex;
    gap: 1.5rem;
}

.detalhes {
    flex: 1;
}

.detalhes h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #555;
    padding-bottom: 0.5rem;
    color: #007bff;
}

.detalhes p {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
}

.detalhes span {
    font-size: 0.8rem;
    color: #ccc;
}

.detalhes strong {
    font-size: 1.1rem;
    color: #e0e0e0;
}

/* Responsividade */
@media (max-width: 768px) {
    .tabelas-consolidadas-grid {
        grid-template-columns: 1fr; /* só 1 card por linha em telas menores */
    }

    .produto-conteudo {
        flex-direction: column;
    }
}
